<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WDS| Enroll</title>
</head>
<body>
    {% extends "theme.html" %} <!--引入拓展写好的模板主题-->
    <br>
    {% block content %}
        <div class="container">
            <h1>Home Insurance:</h1>
            <br>
            <h2>Description:</h2>
            <br>
            <a href="{% url 'home_ins' %}" class="btn btn-primary">Enroll</a>
            <br>
            <br>
            <h1>Auto Insurance:</h1>
            <br>
            <h2>Description:</h2>
            <br>
            <a href="{% url 'auto_ins' %}" class="btn btn-primary">Enroll</a>
            <br>
            <br>
            <a href="{% url 'register_driver' %}" class="btn btn-primary">Register driver</a>
        </div>
    {% endblock content %}
</body>
</html>