<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WDS| Home Information</title>
</head>

{% extends "theme.html" %} <!--引入拓展写好的模板主题-->
<br>
{% block content %}

<h2 align="center" >Please fill up basic information</h2>
<br>
<form method="POST" action=" {% url 'home_success_page' %} " align="center">
    <!--action是指将数据发送到哪，还是发送到本网站由服务器去处理-->
    {%csrf_token%} <!--protect from cross site request forgery-->
    <div class="container">
        <h5>Want to add another uninsured house?</h5>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add Another</button>
        </div>
        <br>
        <small>No more house to add? Click Next Step</small>
        <br>
        <div class="border-top pt-3">
            <a href="{% url 'home_order_info' %}" class="btn btn-primary">Next Step</a>
        </div>
        <br>
    </div>

</form>

{% endblock content %}
