<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WDS| My Invoice</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<body>
    {% extends "theme.html" %} <!--引入拓展写好的模板主题-->
    <br>
    {% block content %}
    <div class="container">
        <h1>Invoice list</h1>
        <br>
        <h2 style="color:blue">Please keep checking and paying your invoice in your "Account->My Invoice"</h2>
        <br>
        {% for invoice in invoices %}
            {% if invoice.status == 'Paid' %}
                <br>
                <article class="media content-section">
                    <div class="media-body">
                        <p align="left" class="article-content">Invoice Number: {{ invoice.invoice_id }}</p>
                        <p align="left" class="article-content">Invoice Date: {{ invoice.invoice_date }}</p>
                        <p align="left" class="article-content">Status: {{ invoice.status }}</p>
                        <a class="btn btn-primary">Pay This Invoice</a>
                        <small>You already paid this invoice!</small>
                        <br>
                    </div>
                </article>
                <br>
            {% else %}
                <br>
                <article class="media content-section">
                    <div class="media-body">
                        <p align="left" class="article-content">Invoice Number: {{ invoice.invoice_id }}</p>
                        <p align="left" class="article-content">Invoice Date: {{ invoice.invoice_date }}</p>
                        <p align="left" class="article-content">Status: {{ invoice.status }}</p>
                        <a href="{% url 'payment_home' invoice_id=invoice.invoice_id %}" class="btn btn-primary">Pay This Invoice</a>
                        <br>
                    </div>
                </article>
                <br>
            {% endif %}

        {% endfor %}
    </div>
    {% endblock content %}
</body>

</html>